<button (click)="showBottomSheet()">Click me</button>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>
<mat-card class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Mr. Z</mat-card-title>
		<mat-card-subtitle>Dog Breed</mat-card-subtitle>
	</mat-card-header>
</mat-card>
<section class="example-section">
  <mat-checkbox class="example-margin" >Checked</mat-checkbox>
  <mat-checkbox class="example-margin" >Indeterminate</mat-checkbox>
</section>